image: ghcr.io/cirruslabs/flutter:stable

stages:
  - build
  - deploy

before_script:
  - flutter --version

cache:
  paths:
    - /root/.pub-cache/
    - .dart_tool/

build:
  stage: build
  script:
    - flutter pub get
    - flutter build web --wasm --base-href /workout_analyzer/
    #Compress
    - find build/web -type f -regex '.*\.\(htm\|html\|txt\|text\|js\|xml\|json\|mjs\|svg\|yaml\|yml\|toml\|css\|pdf\|wasm\)$' -exec gzip -f -k -9 {} \;
    - find build/web -type f -regex '.*\.\(htm\|html\|txt\|text\|js\|xml\|json\|mjs\|svg\|yaml\|yml\|toml\|css\|pdf\|wasm\)$' -exec brotli -f -k -Z {} \;
    - find build/web -type f -regex '.*\.\(htm\|html\|txt\|text\|js\|xml\|json\|mjs\|svg\|yaml\|yml\|toml\|css\|pdf\|wasm\)$' -exec zstd -f -k --ultra -22 -q {} \;
  only:
    - master
  artifacts:
    paths:
      - build/web

pages:
  stage: deploy
  only:
    - master
  dependencies:
    - build
  script:
    - mkdir public
    - mv build/web/* public
    - ls ./public -R
  artifacts:
    paths:
      - public

