image: ghcr.io/cirruslabs/flutter:latest

stages:
  - build
  - deploy

before_script:
  - flutter --version
  - flutter pub get

cache:
  key: ${CI_COMMIT_REF_SLUG}
  paths:
    - .pub-cache/
    - .dart_tool/

build:
  stage: build
  script:
    - flutter build web --release
  only:
    - master

pages:
  stage: deploy
  only:
    - master
  dependencies:
    - build
  script:
    - mkdir public
    - mv build/web/* public
  artifacts:
    paths:
      - public

