image: ghcr.io/cirruslabs/flutter:latest

stages:
  - build
  - deploy

before_script:
  - flutter --version
  - flutter pub get

cache:
  key: ${CI_COMMIT_REF_SLUG}
  paths:
    - /root/.pub-cache/
    - .dart_tool/

build:
  stage: build
  script:
    - flutter build web --base-href /workout_analyzer/
  only:
    - master
  artifacts:
    paths:
      - build/web

pages:
  stage: deploy
  only:
    - master
  dependencies:
    - build
  script:
    - mkdir public
    - mv build/web/* public
    - ls ./public -R
  artifacts:
    paths:
      - public

